<h1>Displaying the Data</h1>
<%= link_to 'New_user', new_user_path %>
<%= form_tag delete_users_path, method: :delete do %>

<%= form_tag(users_path, method: :get) do %>
<%= select_tag 'comment_id', options_for_select(@comments), prompt: 'Select a Comment' %>
<%= submit_tag "Submit" %>
<% end %>
<% if @users.present? %>
 <table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Email</th>
    <th>Address</th>
    <th>Number</th>
    <th>Roles</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= check_box_tag "user_ids[]",user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.gender %></td>
      <td><%= user.age %></td>
      <td><%= user.email %></td>
      <td><%= user.address %></td>
      <td><%= user.number %></td>
      <% user.comments.each do|uc| %>
      <td><%= uc.roles %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user),
              method: :delete%></td>
    </tr>
    <% end %>
    <% end %>
</table>
<%= submit_tag "Delete selected users" %>
<% end %>

<% end %>

#hii#