<h1>Displaying all the Patient Details</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>contactno</th>
		<th>Gender</th>
	</tr>

	<% @patients.each do |patient| %>
	<tr>
		<td><%= patient.name %></td>
		<td><%= patient.email %></td>
		<td><%= patient.contactno %></td>
		<td><%= patient.gender %></td>
		<td><%= link_to 'Show', patient_path(patient) %></td>
		<td><%= link_to 'Edit', patient_path(patient) %></td>
		<td><%= link_to 'Delete', patient_path(patient),
                method: :cancel%></td>
		
		
	</tr>
	<% end %>
</table>