<h1>Showing Data</h1>
<p>
	<strong>Name</strong>
	<%= @patient.name %>
</p>
<p>
	<strong>Email</strong>
	<%= @patient.email %>
</p>
<p>
	<strong>Contactno</strong>
	<%= @patient.contactno %>
</p>
<p>
	<strong>Gender</strong>
	<%= @patient.gender %>
</p>
<p>
	<strong>Roles</strong>
	<%= @patient.roles %>
</p>
<%= link_to 'Edit', edit_patient_path(@patient) %>
<%= link_to 'Destroy', patient_path(@patient), method: :delete %>
<%= link_to 'Back',patients_path %>



